{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}

{% block content %}
<p><h1>{{ message }}</h1></p>
<div>
    <span>Hello, {{ userinfo.username }}</span>
    <br>
    <a class="btn btn-primary" href="/user/{{ userinfo.id }}/update" role="button">Update User Settings</a>
</div>
<!-- Permission Table -->
<div>
    <h2>Accessible TodoLists</h2>
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Listname</th>
            </tr>
        </thead>
        <tbody>
            {% for todolist in accessible_todolists %}
            <tr>
                <th scope="row">{{ todolist.todolist_id }}</th>
                <td>{{ todolist.listname }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} 

{% block footer %}
copyright 2021 Kazuki Fujiwara
{% endblock %} 
