{% extends "layout.html" %}

{% block title %}
Flask Tutorial
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}

{% block content %}
<p>{{ message }}</p>
<div>
    <h1>Home</h1>
    <ul>
        <li>test1</li>
        <li>test2</li>
        <li><a href="/create">register</a></li>
    </ul>
</div>
<div>
    <h1>Table: posts</h1>
    {% for post in posts %}
    <article>
        <h2>{{ post.title }}</h2>
        <a href="/{{post.id}}/update" role="button">edit</a>
        <a href="/{{post.id}}/delete" role="button">delete</a>
        <p>created at: {{ post.created_at }}</p>
        <p>{{ post.body }}</p>
    </article>
    {% endfor %}
</div>
{% endblock %} 

{% block footer %}
copyright 2021 Kazuki Fujiwara
{% endblock %} 
