{% extends "layout.html" %}

{% block title %}
Flask Tutorial
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}

{% block content %}
<div>
    <h1>Index</h1>
    <p>{{ message }}</p>
</div>
<div>
    <h2>Table: posts</h2>
    <a class="btn btn-primary" href="/create" role="button">Register</a>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Title</th>
                  <th scope="col">Created at</th>
                  <th scope="col">Body</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <th scope="row">{{ post.id }}</th>
                    <td>{{ post.title }}</td>
                    <td>{{ post.created_at }}</td>
                    <td>{{ post.body }}</td>
                    <td><a class="btn btn-primary" href="/{{post.id}}/update" role="button">Edit</a></td>
                    <td><a class="btn btn-danger" href="/{{post.id}}/delete" role="button">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %} 

{% block footer %}
copyright 2021 Kazuki Fujiwara
{% endblock %} 
