{% extends "layout.html" %}

{% block title %}
Flask Tutorial
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}

{% block content %}
<h1>Sign Up</h1>
<form method="POST">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="password" name="password">
    <input type="submit" value="Sign Up">
</form>
<a href="/login">Sign In</a>
{% endblock %} 

{% block footer %}
copyright 2021 Kazuki Fujiwara
{% endblock %} 
