{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}

{% block content %}
<p><h1>{{ message }}</h1></p>
<div>
    <a class="btn btn-primary" href="/admin/create_todolist" role="button">Create TodoList</a>
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Listname</th>
              <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for todolist in todolists %}
            <tr>
                <th scope="row">{{ todolist.todolist_id }}</th>
                <td>{{ todolist.listname }}</td>
                <td><button type="button" class="btn btn-danger">Delete (unimplemented)</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} 

{% block footer %}
copyright 2021 Kazuki Fujiwara
{% endblock %} 
