{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}

{% block content %}
<p><h1>{{ message }}</h1></p>
<div>
    <a class="btn btn-primary" href="/admin/create_permission" role="button">Create Permission</a>
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">User ID</th>
              <th scope="col">List ID</th>
              <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for permission in permissions %}
            <tr>
                <th scope="row">{{ permission.user_id }}</th>
                <td>{{ permission.todolist_id }}</td>
                <td><button type="button" class="btn btn-danger">Delete (unimplemented)</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} 

{% block footer %}
copyright 2021 Kazuki Fujiwara
{% endblock %} 
